@import '../../globals.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: $row-gap;

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > a {
    align-self: flex-end;
  }

  & > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: $row-gap;

    @media (min-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $xxl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
