@import '../../globals.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: $row-gap;

  .item {
    height: 250px;
    display: grid;
    grid-template-rows: 80% 20%;
    background: $grey;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    overflow: hidden;
    text-decoration: none;

    .imageContainer {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }

      svg {
        width: 5rem;
      }
    }

    span {
      background: $light-grey;
      font-size: 1.2rem;
      text-align: center;
      padding: calc($padding / 4);
      z-index: 2;
    }

    &:hover .imageContainer img {
      transform: scale(1.1);
    }
  }

  @media (min-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $xxl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
