@import '../../globals.scss';

.navigation {
  padding-inline: $padding;

  & > .container {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    text-decoration: none;
    margin-right: 1rem;
    color: $text;

    &.active {
      color: $orange;
    }

    &:hover {
      text-decoration: underline;
      scale: 1.05;
    }
  }

  .avatar {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $grey;
    border-radius: 50%;
    padding: 0.5rem;

    svg {
      stroke: $orange;
    }
  }
}
