@import '../../globals';

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $gap;

  @media (max-width: $xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}
